body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav li:hover {
    background-color: #555;
}

nav li:hover a {
    color: #940065;
}

.events-container {
    margin: 20px;
}

.event-card {
    background-color: #ffffffd3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.event-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.event-card p {
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
